.replyArea {
    width: 100%;
    background-color: var(--bisq-black);
    padding: 20px 10px 20px 10px;
}

.replyHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.messDate {
    padding-left: 15px;
    opacity: 0;
    transition: opacity 1.5s;
}

.msgBorder:hover * {
    opacity: 1;
}

.msgBorder > vaadin-button {
    background-color: transparent;
    color: var(--bisq-grey-dimmed);
    opacity: 0;
    transition: opacity 1s;
}

.nameTag {
    font-size: var(--lumo-font-size);
    color: var(--bisq-white);
    margin: 4px 12px;
}

.message {
    display: flex;
    flex-direction: row;
    margin: 8px 0;
}

.msgTag {
    background-color: black;
    padding: 15px;
    width: unset;
    border-radius: 8px;
    font-size: var(--lumo-font-size);
    color: var(--bisq-white);
}

.isMyMessage {
    justify-content: end;
}

.mainCols {
    width: 100%;
    height: 100%;
}

.channelColumn {
    min-width: 200px;
    background: var(--bisq-grey-2);
}

.channelLabel {
    flex: 1;
    font-family: 'IBM Plex Sans Medium';
    font-size: larger;
    color: var(--bisq-white);
}

.marketLabel {
    font-family: 'IBM Plex Sans Medium';
}

.plusButton,
.minusButton {
    background: var(--bisq-grey-dimmed);
    color: var(--bisq-grey-2);
    padding: 0;
    width: 20px;
    height: 20px;
    min-width: 0;
    min-height: 0;
}

.plusButton vaadin-icon,
.minusButton vaadin-icon {
    padding: 0.2em;
}

.listTradeChannels {
    height: 250px;
}

.listTradeChannels vaadin-grid-cell-content {
    font-family: 'IBM Plex Sans Medium';
    padding: 12px 40px;
}

.listTradeChannels vaadin-grid-cell-content[selected],
.listTradeChannels vaadin-grid-cell-content[selected]:hover {
    background: var(--bisq-grey-4);
}

.listTradeChannels vaadin-grid-cell-content:hover {
    color: var(--bisq-white);
    cursor: pointer;
    background: none;
}

.privateChannelList {
    height: 250px;
}

.privateChannelList vaadin-grid-cell-content {
    font-family: 'IBM Plex Sans Medium';
    padding: 12px 40px;
}

.privateChannelList vaadin-grid-cell-content[selected],
.privateChannelList vaadin-grid-cell-content[selected]:hover {
    background: var(--bisq-grey-4);
}

.privateChannelList vaadin-grid-cell-content:hover {
    color: var(--bisq-white);
    cursor: pointer;
    background: none;
}

.chatHeader {
    width: 100%;
}

.chatColumn {
}

.chatGrid {
    height: 580px;
}

.searchField {
    background: var(--bisq-black);
    padding: 0;
}

.searchField * {
    background: var(--bisq-grey-2);
}

.searchField vaadin-input-container {
    background: var(--bisq-grey-2);
}

.searchField vaadin-button {
    background: var(--bisq-grey-2);
}

.offerOnlyCheck {
    padding-top: 7px;
}

.enterField {
    flex: 1;
}

.messageLayout {
    width: 100%;
}

.quoteBox {
    background: var(--bisq-grey-5);
    padding: 10px 10px 10px 15px;
    border-color: var(--bisq-grey-dimmed);
    border-width: 0 0 0 3px;
    border-radius: 0 8px 8px 0;
    border-left-style: solid;
    color: var(--bisq-grey-dimmed);
    margin-bottom: 10px;
}

.quoteAuthor {
    color: var(--bisq-grey-10);
}

.replyAuthor {
    color: var(--bisq-grey-10);
}
